.owl-item p {
	position: absolute;
	color: white;
	bottom: 50%;
	margin: 0 auto;
	width: 100%;
	text-align: center;
	font-size: x-large;
	font-weight: bold;
}

.owl-dot.active span {
	background: #63c2c8 !important;
}

.owl-controls {
	height: 40px;
}

.navbar {
	background: white;
}

.navbar-header button {
	margin-left: 5px;
	margin-right: 5px;
}

.navbar-brand {
	padding: 0;
}

#jobday-logo {
	margin-left: 10px;
	margin-right: 10px;
}

.fb-button img {
	height: 1em;
	margin-top: 17px;
}

ul.navbar-nav li a{
	display: inline-block;
}

.searchbar {
	background: #63c2c8;
	padding: 5px;
	
}

.searchbar span {
	color: white;
	vertical-align: middle;
	padding-left: 15px;
}

.find-button {
	background: #63c2c8;
	color: white;
	height: 35px;
	border: none;
}

.category {
	margin-top: 40px;
}

.category img {
	width: 100%;
}

.category span {
	text-align: center;
	font-size: x-large;
	width: 100%;
	margin: 15px;
}

.links-button {
	margin-top: 25px;
}

.links-button div {
	padding: 10px;
	color: white;
}

.links-button div div {
	text-align: center;
	background: #63c2c8;
}

.links-button div div.urgent-jobs {
	text-align: center;
	background: #ee7202;
}
