.main-container {
	padding-top: 60px;
}

.owl-item p {
	position: absolute;
	color: white;
	top: 50%;
	margin: 0 auto;
	width: 100%;
	text-align: center;
	font-size: x-large;
	font-weight: bold;
}

.owl-dot.active span {
	background: #63c2c8 !important;
}

.owl-controls {
	height: 40px;
}

.navbar {
	background: white;
}

.navbar li {
	cursor: pointer;
}

.navbar li.dropdown a.dropdown-toggle {
	padding: 0;
	margin: 0px 24px;
}

.navbar li i.glyphicon {
	margin: 12px 24px;
	font-size: 25px;
}

.navbar li.dropdown a img {
	height: 40px;
	margin: 5px;
}

.navbar .dummy-link {
	position: absolute;
	top: 0;
	width: 100px;
	height: 50px;
	z-index: 10000;
	cursor: pointer;
}

.navbar-header button {
	margin-left: 5px;
	margin-right: 5px;
}

.navbar-brand {
	padding: 0;
}

#jobday-logo {
	margin-left: 10px;
	margin-right: 10px;
}

.fb-button img {
	height: 1em;
	margin-top: 17px;
}

ul.navbar-nav li a{
	display: inline-block;
}

.searchbar {
	background: #63c2c8;
	padding: 5px;
	
	vertical-align: middle;
}

.searchbar span {
	color: white;
	vertical-align: middle;
	padding-left: 15px;
}

.searchbar input {
	color: black;
}

.searchbar span:nth-child(1) {
	font-size: 18px;
	line-height: 26px;
}

.find-button {
	background: #63c2c8;
	color: white;
	height: 35px;
	border: none;
}

.category {
	margin-top: 40px;
	text-align: center;
}

.category img {
	display: inline-block;
	width: 70%;
}

.category span {
	text-align: center;
	font-size: x-large;
	width: 100%;
	margin: 15px;
}

.jobday-desc {
	padding:30px;
	font-size: 2em;
	border-left: 5px solid #3ACFD5;
	border-right: 5px solid #ed6e41;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-position: 0 0, 0 100% ;
	background-repeat: no-repeat;
	-webkit-background-size: 100% 5px;
	-moz-background-size: 100% 5px;
	background-size: 100% 5px;
	background-image: url(data:image/svg+xml);
	background-image: -webkit-linear-gradient(left, #ed6e41 0%, #ed6e41 100%), -webkit-linear-gradient(left, #3acfd5 0%, #ed6e41 100%);
	background-image: -moz-linear-gradient(left, #ed6e41 0%, #ed6e41 100%), -moz-linear-gradient(left, #3acfd5 0%, #ed6e41 100%);
	background-image: -o-linear-gradient(left, #ed6e41 0%, #3acfd5 100%), -o-linear-gradient(left, #3acfd5 0%, #ed6e41 100%);
	background-image: linear-gradient(to left, #ed6e41 0%, #3acfd5 100%), linear-gradient(to right, #3acfd5 0%, #ed6e41 100%);
	display:inline-block;
}

.jobday-desc-text {
}

.section {
	margin-top: 25px;
}

.links-button div {
	padding: 10px;
	color: white;
	font-size: 16px;
}

.links-button div div {
	text-align: center;
	background: #63c2c8;
}

.links-button div div.urgent-jobs {
	text-align: center;
	background: #ee7202;
}

.conditions {
	padding-left: 30px;
	padding-right: 30px;
	text-align: center;
}

.conditions img {
	display: inline-block;
	width: 50%;
}

.conditions-logos div:nth-child(1) img {
	width: 63%;
}

.tooltip-header {
	background: #63c2c8;
	color: white;
	padding: 5px;
	font-size:18px;
	text-align: center;
	margin-bottom: 10px;
}

span.tooltips span {
  border-radius: 0px;
	padding:25px;
	display: block;
	background: lightgray;
	text-transform: uppercase;
	min-height: 200px;
}

span.tooltips.topleft,
span.tooltips.topright,
span.tooltips.botleft,
span.tooltips.botright {
	margin-top: 30px;
}

span.tooltips.topleft,
span.tooltips.botleft {
	text-align: right;
}

span.tooltips.topright,
span.tooltips.botright {
	text-align: left;
}

span.tooltips.topleft span,
span.tooltips.topright span,
span.tooltips.botleft span,
span.tooltips.botright span {
	min-height: 150px;
}

span.tooltips i {
	font-size: 1em;
}

span.tooltips span:after {
  content: '';
  position: absolute;
  top: 50%;
  width: 0; height: 0;
}

span.tooltips.topleft span:after {
  right: -10%;
  border-left: 50px solid lightgray;
  border-top: 20px solid transparent;
  border-bottom: 0px solid transparent;
	text-align: right;
}
span.tooltips.topright span:after {
  left: -10%;
  border-right: 50px solid lightgray;
  border-top: 20px solid transparent;
  border-bottom: 0px solid transparent;
	text-align: left;
}
span.tooltips.botleft span:after {
  right: -10%;
  border-left: 50px solid lightgray;
  border-top: 0px solid transparent;
  border-bottom: 20px solid transparent;
	text-align: right;
}
span.tooltips.botright span:after {
  left: -10%;
  border-right: 50px solid lightgray;
  border-top: 0px solid transparent;
  border-bottom: 20px solid transparent;
	text-align: right;
}

@media (max-width: 767px) { /* xs only */
	span.tooltips.topleft span:after {
		right: inherit;
		border-left: 25px solid lightgray;
		border-top: 10px solid transparent;
		border-bottom: 0px solid transparent;
	}
	span.tooltips.topleft span {
		min-height: inherit;
	}
	span.tooltips img {
		display: inline-block;
		vertical-align: middle;
	}
	span.tooltips {
		margin-top: 0px;
	}
	span.tooltips span {
		padding: 3px;
		font-size: x-small;
		min-height: inherit;
	}
}

span.tooltips.noarrow span:after {
	visibility: hidden;
}

.newsletter h2 {
	text-align: left;
	color: white;
	padding: 10px;
	padding-left: 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-position: 0 0, 0 100% ;
	background-repeat: no-repeat;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	background-size: 100%;
	background-image: url(data:image/svg+xml);
	background-image: -webkit-linear-gradient(left, #ed6e41 0%, #ed6e41 100%), -webkit-linear-gradient(left, #3acfd5 0%, #ed6e41 100%);
	background-image: -moz-linear-gradient(left, #ed6e41 0%, #ed6e41 100%), -moz-linear-gradient(left, #3acfd5 0%, #ed6e41 100%);
	background-image: -o-linear-gradient(left, #ed6e41 0%, #3acfd5 100%), -o-linear-gradient(left, #3acfd5 0%, #ed6e41 100%);
	background-image: linear-gradient(to left, #ed6e41 0%, #3acfd5 100%), linear-gradient(to right, #3acfd5 0%, #ed6e41 100%);
}

.newsletter h3 {
	padding-bottom: 10px;
	text-transform: uppercase;
	text-align: left;
	border-bottom: solid 5px #63c2c8;
	font-size: 18px;
}

.newsletter input {
	border: none;
	border-bottom: solid 5px #63c2c8;
	margin-top: 15px;
	box-shadow: none;
	border-radius: 0;
}

.newsletter input:focus {
	box-shadow: none;
	border-bottom: solid 5px #ee7202;
}

.newsletter button {
	background: #63c2c8;
	color: white;
	height: 35px;
	border: none;
	margin: 5px;
}

.owl-item img {
	max-height: 80%;
}

.poster-container .section label {
	font-weight: normal;
}

.poster-container .section label.title {
	width: 100%;
	color: white;
	text-transform: uppercase;
	padding: 5px;
	background: #63c2c8;
	/*
	background-position: 0 0, 0 100% ;
	background-repeat: no-repeat;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	background-size: 100%;
	background-image: url(data:image/svg+xml);
	background-image: -webkit-linear-gradient(left, #ed6e41 0%, #ed6e41 100%), -webkit-linear-gradient(left, #3acfd5 0%, #ed6e41 100%);
	background-image: -moz-linear-gradient(left, #ed6e41 0%, #ed6e41 100%), -moz-linear-gradient(left, #3acfd5 0%, #ed6e41 100%);
	background-image: -o-linear-gradient(left, #ed6e41 0%, #3acfd5 100%), -o-linear-gradient(left, #3acfd5 0%, #ed6e41 100%);
	background-image: linear-gradient(to left, #ed6e41 0%, #3acfd5 100%), linear-gradient(to right, #3acfd5 0%, #ed6e41 100%);
	*/
}

.poster-container h2 {
	text-align: left;
	text-transform: uppercase;
	color: white;
	padding: 10px;
	padding-left: 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-position: 0 0, 0 100% ;
	background-repeat: no-repeat;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	background-size: 100%;
	background-image: url(data:image/svg+xml);
	background-image: -webkit-linear-gradient(left, #ed6e41 0%, #ed6e41 100%), -webkit-linear-gradient(left, #3acfd5 0%, #ed6e41 100%);
	background-image: -moz-linear-gradient(left, #ed6e41 0%, #ed6e41 100%), -moz-linear-gradient(left, #3acfd5 0%, #ed6e41 100%);
	background-image: -o-linear-gradient(left, #ed6e41 0%, #3acfd5 100%), -o-linear-gradient(left, #3acfd5 0%, #ed6e41 100%);
	background-image: linear-gradient(to left, #ed6e41 0%, #3acfd5 100%), linear-gradient(to right, #3acfd5 0%, #ed6e41 100%);
}

.poster-container .submit-container button{
	background: #63c2c8;
	color: white;
	height: 35px;
	border: none;
	margin: 0 auto;
	padding: 5px 15px;
}

.poster-container #address-inputs input {
	margin-top: 5px;
}

.footer {
	min-height: 80px;
	background: #63c2c7;
	text-align:center;
}

.modal-body .has-error {
	display: inline-block;
	width: 100%;
	text-align: center;
	color: red;
}

.blue,
.orange,
.user-info-container h3 {
	background: #63c2c8;
	color: white;
	padding: 5px;
	font-size:18px;
	text-align: center;
	margin-bottom: 10px;
}

.orange {
	background: #ee7202;
	cursor: pointer;
}

.button {
	cursor: pointer;
	box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.2);
}

.button:active {
	box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2) inset;
	-webkit-box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2) inset;
}

.user-text label,
.user-info-container h4 {
	background: #63c2c8;
	color: white;
	padding: 5px;
	font-size:15px;
	text-align: center;
	margin-bottom: 10px;
	font-weight: normal;
}

.user-text label {
	width: 100%;
}

.user-edit-profil {
	text-align: center;
}

.user-edit-profil button {
	display: inline-block;
	background: #ee7202;
	color: white;
	height: 35px;
	border: none;
	margin: 5px;
}

.botborder {
	border-radius: 0;
	border: none;
	box-shadow: none;
	border-bottom: solid 3px #ee7202;
}

.grade {
	text-align: center;
	padding: 10px;
}

.grade-inside {
	padding-bottom: 10px;
}

.grade h4 {
	text-transform: uppercase;
	text-align: center;
	height: 50px;
	color: #333;
}

.user-means,
.user-permis {
	text-align: center;
	color: lightgray;
	font-size: 1.8em;
}

.user-categories-container .user-permis {
	font-size: 2em;
}

.user-categories-container .user-means {
	font-size: 3em;
}


.user-skills img {
	opacity: 0.4;
	-webkit-filter: saturate(0%);
	filter: saturate(0%);
}

.user-permis {
	font-size: 1.2em;
	font-weight: bold;
	line-height: 35px;
}

.user-permis .col-xs-3 {
	width: 14.2857%;
}

@media (min-width:1200px) { /* lg */
	.user-permis .col-lg-1 {
		width: 7.142857%;
	}
}

.user-categories-container .user-skill img:hover {
	zoom: 1.4;
	cursor:pointer;
}

.user-skills .skill-got,
.user-means .mean-got,
.user-permis .permis-got {
	opacity: 1;
	color: #ee7202;
}

.user-skills .skill-got {
	-webkit-filter: saturate(100%);
	filter: saturate(100%);
}

.user-mean i:hover,
.user-permi:hover {
	zoom: 0.9;
	cursor:pointer;
}

.user-categories-container .user-means .mean-got i:hover,
.user-categories-container .user-permis .permis-got:hover {
}


.grade-inside .delete-button {
	position: absolute;
	bottom: 0px;
	right: 0px;
	color: #ee7202;
	font-size: 2em;
	width: 100%;
	cursor: pointer;
}

.grade-inside .delete-button:hover {
	zoom: 1.1;
}

.spinner-container.col-xs-12 {
	min-height: 500px;
}

.user-information.buttons div {
	padding: 10px;
}

.user-information.buttons div div {
	text-align: center;
	color: white;
	font-size: 16px;
	background: #ee7202;
	cursor: pointer;
}

.user-information.buttons div div.submit-button {
	background: #63c2c8;
}

.user-information.buttons div div.inactive {
	background: lightgray;
	cursor: default;
}

@media only screen and (max-width: 768px) {
	.searchbar {
		text-align: center;
	}

	.jobday-desc {
		font-size: 18px;
	}

	.user-mean, .user-permi { font-size: 19px;}
}

@media only screen and (max-width: 360px) {
	.newsletter h2 {
		font-size: 18px;
	}
	.newsletter h3 {
		font-size: 15px;
	}
	.user-mean, .user-permi { font-size: 16px;}
}

@media only screen and (max-width: 1200px) {
	 .tooltips {
		 font-size: 13px;
	 }
	 .tooltip-header { 
		 font-size: 15px; 
	 }
}

.mission-sidebar {
	text-align: center;
}

.bleft {
	border-left: 5px solid #63c2c8;
	padding: 10px;
}

.pre-wrap {
	white-space: pre-wrap;
}

.section.pre-wrap {
	line-height: 1.2em;
}

.bleft i {
	vertical-align:middle;
}

.orange i {
	vertical-align:middle;
}


#mission-map {
	height: 250px;
}

.panel-heading,
.panel-heading .panel-title{
	background: white !important;
	border-top: 0px;
}

.bleft.panel {
	border-top: 0px;
	border-bottom: 0px;
	border-right: 0px;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 0px !important;
}

.mission-status div {
	position: absolute;
	padding: 0;
	right: 0;
	top: 0;
	width: 20px;
	height: 20px;
	border-radius: 10px;
}
.status-ouvert {
	background: green;
}
.status-attribue {
	background: orange;
}
.status-termine {
	background: gray;
}

.pointer {
	cursor: pointer;
}

.offer-user {
	text-align: center;
}

.offer-pro i {
	vertical-align: baseline;
}

.star {
	font-size: 15px;
}

.offer {
	border-bottom: 1px solid lightgray;
	margin-bottom: 15px;
	padding-bottom: 15px;
}

.offer-info {
	/*
	border-top: 1px solid #ee7202;
	border-bottom: 1px solid #ee7202;
	*/
	margin-top: -10px;
	border-bottom: 1px solid lightgray;
}


.offer-validation {
	position: absolute;
	bottom: 0;
	right: 0;
}

.user-notes-container .progress {
	height: 8px;
	margin-bottom: 15px;
}

.button-container .button {
	padding: 15px;
	line-height: 24px;
}

.nopad { padding-left: 0; padding-right: 0; }

.advertCard {
	border: 1px lightgray solid;
	border-left: 0px;
	border-right: 0px;
	padding: 10px;
}

.advertCard .description {
	background: darkgray;
	color:white;
	padding: 20px;
}

.advertCard .online-true {
	background: #63c2c8;
}

.advertCard.urgent {
	border-right: 5px #ee7202 solid;
}

.prosign small {
	vertical-align: super;
}

#searchMissionMap {
	height: 500px;
}

#advertList {
max-Height: 500px;
}

@media screen and (max-width: 992px) {
#searchMissionMap { height: 300px; }
}

@media screen and (min-width: 992px) {
	.comment-note i {
		font-size: 36px;
	}
	.affix {
		position: fixed !important;
		top: 75px;
		width: 525px;
		height: 500px;
	}
}
/*
.pagesCont {
float: left;
max-Height: 800px;
overflow-x: hidden;
overflow-y: scroll;
}
*/

.card-icon.selected {
	color: #63c2c8;
	border-bottom: 2px solid #ee7202;
}

.spinner-container {
	height: 50px;
}

.tooltip-inner, .tooltip-arrow {
	background: white;
	color: black;
	border-top-color: white !important;
}
