<template name='about'>
	<div class='container footer section'>
		<div class='row'>
			JobDay est une plateforme interactive de mise en relation professionnelle qui permet de développer son réseau 
			avec un style de vie flexible, au sein d’une communauté.
			JobDay met en relation des travailleurs indépendants,
			avec ceux qui ont besoin de leurs services, 
			aussi bien les professionnels que les particuliers.
			Avec JobDay, on travaille quand on veut, où l’on veut, et de la façon dont on le souhaite, 
			cela ne dépend que de soi-même. On est son propre patron. JobDa est une application iOS, 
			Android et Windows, ainsi qu’un site Web, qui sont d’utilisation rapide, simple,
			et efficace. 
			.JobDayc’est une communauté 2.0
		</div>
	</div>
</template>
