<template name='carousel'>
	<div id='owl' class='owl-carousel'>
		<div>
			<img src='1.jpg'>
			<p> TRAVAILLER N’A JAMAIS ÉTÉ AUSSI SIMPLE. </p>
		</div>
		<div>
			<img src='2.jpg'>
			<p> GÉREZ MIEUX VOTRE TEMPS. </p>
		</div>
		<div>
			<img src='3.jpg'>
			<p> DES TRAVAILLEURS SUR DEMANDE. </p>
		</div>
		<div>
			<img src='4.jpg'>
			<p> TRAVAILLEZ OU VOUS VOULEZ, QUAND VOUS VOULEZ. </p>
		</div>
		<div>
			<img src='5.jpg'>
			<p> BESOIN D'ARRONDIR VOS FIN DE MOIS ? </p>
		</div>
	</div>
</template>
