<template name="dashboardJobber" >
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-91207083-1', 'auto');
  ga('send', 'pageview');

</script>
	<div class='col-xs-12 col-md-4'>
		<div class='user-photo-container col-xs-12' style='text-align:center;'>
			{{#if $eq userType 'society'}}
			<h2><small>[SOCIETE]</small></h2>
			{{/if}}
			{{#if $eq userType 'professional'}}
			<h2><small>[PROFESSIONEL]</small></h2>
			{{/if}}
			{{#if $eq userType 'individual'}}
			<h2><small>[PARTICULIER]</small></h2>
			{{/if}}
			<img class='user-photo col-xs-12' src='{{userData.photo}}'>
		</div>
		<div class='user-info-container col-xs-12'>
			<h3>
			{{#unless $eq userData.userType 'society'}}
				{{userData.firstname}}
				{{#if canSee}}
					{{userData.name}}
				{{/if}}
			{{else}}
				{{userData.name}}
			{{/unless}}
			</h3>
			<div class='user-stars col-xs-12'>
			</div>
			<div class='user-dates col-xs-12'>
				<div>
				<label>Date d'inscription:</label>
				<span>{{formatDate user.createdAt}}</span>
				</div>
				<div>
				<label>Dernière connexion:</label>
				<span>{{lastLogin}}</span>
				</div>
			</div>
			<div class='user-address col-xs-12'>
				<i class='glyphicon glyphicon-map-marker'></i>
				<label>Adresse:</label>
				{{#if canSee}}
				<span>{{userAddressFull}}</span>
				{{else}}
				<span>{{userAddress}}</span>
				{{/if}}
			</div>
	{{#if canSee}}
			<div class='user-birthdate col-xs-12'>
				<label>Date de naissance:</label>
				<span>{{formatDate birthdate}}</span>
			</div>
	<div class='user-address col-xs-12'>
				<i class='glyphicon glyphicon-map-marker'></i>
				<label>Téléphone:</label>
				<span>{{userTelephone}}</span>
			</div>
			{{/if}}
		
			
			{{#if $.Session.equals 'currentUserDataId' currentUser._id}}
			<div class='user-edit-profil col-xs-12'>
				<span class='orange edit-profil-button button'>Editer mon profil</span>
			</div>
			{{else}}
			
				{{#if userConnect}}
			<div class='user-edit-profil col-xs-12'>
				<span class='orange edit-profil-button button'>Editer mon profil</span>
			</div>
				{{/if}}
				
				{{#if isInRole 'admin'}}
			<div class='user-edit-profil col-xs-12'>
				<span class='orange edit-profil-button button'>Editer ce profil</span>
			</div>
				{{/if}}
				
			{{/if}}
			<div class='user-badges-container col-xs-12'>
				<h4>Badges de confiance</h4>
				<div class='user-badges'>
				{{#each badges}}
					<div class='col-xs-3 nopad' style='text-align:center;'>
						{{#if userHasbadges _id}}
							<img data-toggle='tooltip' title='{{name}}' src='{{icon}}' class='userHasbadgesClasse-got ' width='100%' style='padding:15px 15px 0 15px;'>
							<small>{{name}}</small>
						{{else}}
							<img data-toggle='tooltip' title='{{name}}' src='{{icon}}' class='userHasbadgesClasse-not-got ' width='100%' style='padding:15px 15px 0 15px;'>
							<small>{{name}}</small>
						{{/if}}
					</div>
				{{/each}}
			</div>
			</div>
			<div class='user-means-container col-xs-12'>
				<h4>Moyens de transport</h4>
				<div class='user-means'>
					{{#each means}}
						{{#if userHasMean _id}}
							<span class='col-xs-3 mean-got'>{{{icon}}}</span>
						{{else}}
							<span class='col-xs-3'>{{{icon}}}</span>
						{{/if}}
					{{/each}}
				</div>
			</div>
			<div class='user-means-container col-xs-12'>
				<h4>Permis</h4>
				<div class='user-permis'>
					{{#each permis}}
						{{#if userHasPermis _id}}
							<span class='col-xs-3 permis-got'>{{name}}</span>
						{{else}}
							<span class='col-xs-3'>{{name}}</span>
						{{/if}}
					{{/each}}
				</div>
			</div>
			<div class='user-skills-container col-xs-12'>
				<h4>Competences</h4>
				<div class='user-skills'>
					{{#each categories}}
					<div class='categorie col-xs-4 user-skill'>
						<img data-toggle='tooltip' title='{{name}}' alt='{{name}}' src='{{icon}}' class='{{userHasSkill index}}' width='100%' style='padding:5px;'>
					</div>
					{{/each}}
				</div>
			</div>
		</div>
	</div>
	
	<div class='col-xs-12 col-md-8'>
	<img id='imgToExport' src='/jobday.png' style='display:none'/> 
	{{#if $.Session.equals 'currentUserDataId' currentUser._id}}
	<div id ="userNotificationsSection" class='user-presentation-container section user-text col-xs-12'>
			<label>Notifications</label>
			
			{{#each userNotifications}}
			<div id='' class=' col-xs-6 col-md-3' style='word-wrap: break-word;'>
				<div class='botborder  col-xs-12'>
				
				<small><a data-id={{_id}} class='userNotificationsLink'  href="{{urlNotif}}" > 
				<span class="{{icon}}"></span>{{name}}
				</a></small>
	
				</div>
			</div>
			{{/each}}
		</div>
		
	<div class='user-presentation-container section user-text col-xs-12'>
			<label>Historique des Annonces Postées</label>
			
			{{#each missionPoster}}
			<div id='' class=' col-xs-6 col-md-3' style='word-wrap: break-word;'>
				<div class='botborder  col-xs-12'>
				<small><a  href="/missionProfil/{{_id}}" > {{formatDate(startDate) }} -- {{title }}</a></small>
					
				</div>
			</div>
			{{/each}}
		</div>
	<div class='user-presentation-container section user-text col-xs-12'>
			<label>Historique des Jobs Réalisés</label>
			
			{{#each missionParticiper}}
			<div id='' class=' col-xs-6 col-md-3' style='word-wrap: break-word;'>
				<div class='botborder  col-xs-12'>
				<small><a  href="/missionProfil/{{_id}}" > {{formatDate(startDate) }} -- {{title }}</a></small>
					
				</div>
			</div>
			{{/each}}
		</div>	
	<div class='user-presentation-container section user-text col-xs-12'>
			<label>Historique de vos Factures</label>
			<div class='botborder  col-xs-12'>
				<div class='col-xs-12 col-sm-6 col-md-7'>
					<input id="numeroFactureVoulus" type='text' placeholder="Numéro de facture voulus" class='form-control' value=''>
				</div>
			</div>
			{{#each missionJobberPayer}}
			<div id='' class=' col-xs-6 col-md-3' style='word-wrap: break-word;'>
				<div class='botborder  col-xs-12'>
				<small><a  href="#" onclick="factureGenerer('{{_id }}')"> {{formatDate(startDate) }} -- {{title }}</a></small>
					
				</div>
			</div>
			{{/each}}
		</div>
		<div class='user-presentation-container section user-text col-xs-12'>
			<label>Historique Facture Annonceur</label>
			<div class='botborder  col-xs-12'>
				<div class='col-xs-12 col-sm-6 col-md-7'>
					<input id="numeroFactureVoulus" type='text' placeholder="Numéro de facture voulus" class='form-control' value=''>
				</div>
			</div>
			{{#each missionAnnonceurPayer}}
			<div id='' class=' col-xs-6 col-md-3' style='word-wrap: break-word;'>
				<div class='botborder  col-xs-12'>
				<small><a  href="#" onclick="factureGenerer('{{_id }}')"> {{formatDate(startDate) }} -- {{title }}</a></small>
					
				</div>
			</div>
			{{/each}}
		</div>
		{{/if}}
		<div class='user-presentation-container section user-text col-xs-12'>
			<label>Présentation</label>
			<div class='botborder' style='word-wrap: break-word;'>
				<p>{{userData.presentation}}</p>
			</div>
		</div>
		<div class='user-experience-container section user-text col-xs-12'>
			<label>Expériences</label>
			<div class='botborder' style="word-break: break-all;">
				<p>{{userData.experiences}}</p>
			</div>
		</div>
		<div class='user-grades-container section user-text col-xs-12'>
			<label>Formations / Diplômes</label>
			{{#each grades}}
				{{#if validated}}
				<div class='grade col-xs-6 col-md-3' data-validated='{{validated}}' data-img='{{image}}'>
						<div class='botborder grade-inside col-xs-12'>
							<h4>{{name}}</h4>
							<small>{{formatDate date}}</small>
						</div>
					</div>
				{{else}}
					{{#if $.Session.equals 'currentUserDataId' currentUser._id}}
					<div class='grade col-xs-6 col-md-3' data-img='{{image}}'>
						<div class='botborder grade-inside col-xs-12'>
							<h4>{{name}}</h4>
							<small>{{formatDate date}}</small>
						</div>
						<small>En attente de validation</small>
					</div>
					{{/if}}
				{{/if}}
			{{/each}}
		</div>
		<div class='user-precisions-container section user-text col-xs-12'>
			<label>Informations supplémentaires</label>
			<div class='botborder'>
				<p>{{userData.precisions}}</p>
			</div>
		</div>
		<div class='user-disponibilities-container section user-text col-xs-12'>
			<label>Disponibilités</label>
			<div class='botborder'>
				<div id='dispo-calendar'>
				</div>
			</div>
			{{#if $.Session.equals 'currentUserDataId' currentUser._id}}
			{{>disponibilities}}
			<span class='orange button center-block'>Editer une période</span>
			{{/if}}
		</div>
		<div class='user-notes-container section user-text col-xs-12'>
			<label>Synthèse des notes reçus</label>
			<div class='botborder col-xs-12'>
				<div class='col-xs-12'>
					<span class='center-block' style='width:190px;font-size:18px;'>
				{{> stars notes=userData.notes printCount=true printMean=true size="md-18"}}
					</span>
				</div>
				<div class='col-xs-12'>
					{{#times 5}}
					<span class='col-xs-12 col-sm-4'>{{labelForProgress this}} ({{nbNote this}})</span>
					<div class="progress col-xs-12 col-sm-8 nopad">
						<div class="progress-bar" role="progressbar" aria-valuenow="{{notePercent this}}" aria-valuemin="0" aria-valuemax="100" style="width:{{notePercent this}}%">
							<span class="sr-only">{{notePercent this}}%</span>
						</div>
					</div>
					{{/times}}
				</div>
			</div>
		</div>
		<div class='user-avis-container section user-text col-xs-12' style='word-wrap: break-word;'>
			<label>Liste des avis reçus</label>
			<div class='botborder col-xs-12'>
				{{#each notes}}
				<div class='col-xs-12' style='padding: 10px'>
					<div class='col-xs-12 col-md-4'>
						<div class='col-xs-12'>
							{{>stars notes=note}}
						</div>
						<small>
						Par <a href='/profilUser/{{advertOwnerId}}'>{{username advertOwnerId}}</a><br>
						Pour le job <a href='/missionProfil/{{advertId}}'>{{advertTitle advertId}}</a>
						</small>
					</div>
					<div class='col-xs-12 col-md-8'>
						{{this.message}}
					</div>
				</div>
				{{/each}}
			</div>
		</div>
	</div>
</template>
