<template name="dashboardJobber" >
	<div class='col-xs-12 col-md-4'>
		<div class='user-photo-container col-xs-12' style='text-align:center;'>
			{{#if society}}
			<h2><small>[PRO]</small></h2>
			{{else}}
			<h2><small>[PARTICULIER]</small></h2>
			{{/if}}
			<img class='user-photo col-xs-12' src='{{userData.photo}}'>
		</div>
		<div class='user-info-container col-xs-12'>
			<h3>
			{{#unless userData.society}}
				{{userData.firstname}}
				{{#if canSee}}
					{{userData.name}}
				{{/if}}
			{{else}}
				{{userData.name}}
			{{/unless}}
			</h3>
			<div class='user-stars col-xs-12'>
			</div>
			<div class='user-dates col-xs-12'>
				<div>
				<label>Date d'inscription:</label>
				<span>{{formatDate user.createdAt}}</span>
				</div>
				<div>
				<label>Derniere connexion:</label>
				<span>{{lastLogin}}</span>
				</div>
			</div>
			<div class='user-address col-xs-12'>
				<i class='glyphicon glyphicon-map-marker'></i>
				<label>Adresse:</label>
				{{#if canSee}}
				<span>{{userAddressFull}}</span>
				{{else}}
				<span>{{userAddress}}</span>
				{{/if}}
			</div>
			{{#if canSee}}
			<div class='user-birthdate col-xs-12'>
				<label>Date de naissance:</label>
				<span>{{formatDate birthdate}}</span>
			</div>
			{{/if}}
			{{#if $.Session.equals 'currentUserDataId' currentUser._id}}
			<div class='user-edit-profil col-xs-12'>
				<span class='orange edit-profil-button button'>Editer mon profil</span>
			</div>
			{{/if}}
			<div class='user-badges-container col-xs-12'>
				<h4>Badges de confiance</h4>
				<div class='user-badges'>
				</div>
			</div>
			<div class='user-means-container col-xs-12'>
				<h4>Moyens de transport</h4>
				<div class='user-means'>
					{{#each means}}
						{{#if userHasMean _id}}
							<span class='col-xs-3 mean-got'>{{{icon}}}</span>
						{{else}}
							<span class='col-xs-3'>{{{icon}}}</span>
						{{/if}}
					{{/each}}
				</div>
			</div>
			<div class='user-means-container col-xs-12'>
				<h4>Permis</h4>
				<div class='user-permis'>
					{{#each permis}}
						{{#if userHasPermis _id}}
							<span class='col-xs-3 permis-got'>{{name}}</span>
						{{else}}
							<span class='col-xs-3'>{{name}}</span>
						{{/if}}
					{{/each}}
				</div>
			</div>
			<div class='user-skills-container col-xs-12'>
				<h4>Competences</h4>
				<div class='user-skills'>
					{{#each categories}}
					<div class='categorie col-xs-4 user-skill'>
						<img data-toggle='tooltip' title='{{name}}' alt='{{name}}' src='{{icon}}' class='{{userHasSkill index}}' width='100%' style='padding:5px;'>
					</div>
					{{/each}}
				</div>
			</div>
		</div>
	</div>
	<div class='col-xs-12 col-md-8'>
		<div class='user-presentation-container section user-text col-xs-12'>
			<label>Presentation</label>
			<div class='botborder'>
				<p>{{userData.presentation}}</p>
			</div>
		</div>
		<div class='user-experience-container section user-text col-xs-12'>
			<label>Experiences</label>
			<div class='botborder'>
				<p>{{userData.experiences}}</p>
			</div>
		</div>
		<div class='user-grades-container section user-text col-xs-12'>
			<label>Formations / Diplomes</label>
			{{#each grades}}
			<div class='grade col-xs-6 col-md-3' data-img='{{image}}'>
				<div class='botborder grade-inside col-xs-12'>
					<h4>{{name}}</h4>
					<small>{{formatDate date}}</small>
				</div>
			</div>
			{{/each}}
		</div>
		<div class='user-precisions-container section user-text col-xs-12'>
			<label>Information supplementaires</label>
			<div class='botborder'>
				<p>{{userData.precisions}}</p>
			</div>
		</div>
		<div class='user-disponibilities-container section user-text col-xs-12'>
			<label>Disponibilites</label>
			<div class='botborder'>
				<div id='dispo-calendar'>
				</div>
			</div>
			{{#if $.Session.equals 'currentUserDataId' currentUser._id}}
			{{>disponibilities}}
			<span class='orange button center-block'>Editer une periode</span>
			{{/if}}
		</div>
		<div class='user-notes-container section user-text col-xs-12'>
			<label>Synthese des avis recus</label>
			<div class='botborder col-xs-12'>
				<div class='col-xs-12'>
					<span class='center-block' style='width:190px;font-size:18px;'>
				{{> stars notes=userData.notes printCount=true printMean=true size="md-18"}}
					</span>
				</div>
				<div class='col-xs-12'>
					{{#times 5}}
					<span class='col-xs-12 col-sm-4'>{{labelForProgress this}} ({{nbNote this}})</span>
					<div class="progress col-xs-12 col-sm-8 nopad">
						<div class="progress-bar" role="progressbar" aria-valuenow="{{notePercent this}}" aria-valuemin="0" aria-valuemax="100" style="width:{{notePercent this}}%">
							<span class="sr-only">{{notePercent this}}%</span>
						</div>
					</div>
					{{/times}}
				</div>
			</div>
		</div>
		<div class='user-avis-container section user-text col-xs-12'>
			<label>Liste des avis recus</label>
			<div class='botborder col-xs-12'>
				{{#each notes}}
				<div class='col-xs-12' style='padding: 10px'>
					<div class='col-xs-12 col-md-4'>
						<div class='col-xs-12'>
							{{>stars notes=note}}
						</div>
						<small>
						Par <a href='/profilUser/{{advertOwnerId}}'>{{username advertOwnerId}}</a><br>
						Pour le job <a href='/missionProfil/{{advertId}}'>{{advertTitle advertId}}</a>
						</small>
					</div>
					<div class='col-xs-12 col-md-8'>
						{{this.message}}
					</div>
				</div>
				{{/each}}
			</div>
		</div>
	</div>
</template>
