<template name='disponibilities'>
	<div id="editDisponibilities" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header" style='background:#63c2c7;color:white;'>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">EDITER VOS DISPONIBILITES</h4>
				</div>
				<div class="modal-body row">
					<h4 class='col-md-6 col-xs-12'><small>Pour le</small> {{#with $.Session.get 'dispoday'}}{{formatDate this}}{{/with}}</h4>
					<div class='col-md-6 col-xs-12'>
						<div class="checkbox col-xs-12">
							<input type="checkbox" data-when='morning'> Matin
						</div>
						<div class="checkbox col-xs-12">
							<input type="checkbox" data-when='afternoon'> Apres-midi
						</div>
						<div class="checkbox col-xs-12">
							<input type="checkbox" data-when='evening'> Soir
						</div>
						{{whenChecked}}
					</div>
					<button type="button" class="btn btn-primary center-block section validate" data-dismiss="modal">Enregistrer</button>
				</div>
			</div>

		</div>
	</div>	
</template>

<template name='dispoRangeModal'>
	{{#genericModal title='Editer vos disponibilites'}}
	<h4>Editer vos disponibilites pour une periode donnee</h4>
	<div class='col-xs-12 dispo-range form-horizontal'>
		<div class='dispo-range-checkbox form-group'>
			<label class='control-label'>Je serais </label>
			<div>
			<input type='checkbox' data-dispo='yes'> disponible
			<input type='checkbox' data-dispo='no'> indisponible
			</div>
		</div>
		<div class='date form-group'>
			<label class='control-label'>Du </label>
			<input type='date' class='date-from form-control'>
			<label class='control-label'>A </label>
			<input type='time' class='hours-from form-control'>
		</div>
		<div class='hours form-group'>
			<label class='control-label'>Au </label>
			<input type='date' class='date-to form-control'>
			<label class='control-label'>A </label>
			<input type='time' class='hours-to form-control'>
		</div>
		</div>
	{{else}}
	<button type="button" class="btn btn-primary center-block section validate" data-dismiss="modal">Enregistrer</button>
	{{/genericModal}}
</template>
