<template name='disponibilities'>
	<div id="editDisponibilities" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header" style='background:#63c2c7;color:white;'>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">EDITER VOS DISPONIBILITES</h4>
				</div>
				<div class="modal-body row">
					<h4 class='col-md-6 col-xs-12'><small>Pour le</small> {{#with $.Session.get 'dispoday'}}{{formatDate this}}{{/with}}</h4>
					<div class='col-md-6 col-xs-12'>
						<div class="checkbox col-xs-12">
							<input type="checkbox" data-when='morning'> Matin
						</div>
						<div class="checkbox col-xs-12">
							<input type="checkbox" data-when='afternoon'> Après-midi
						</div>
						<div class="checkbox col-xs-12">
							<input type="checkbox" data-when='evening'> Soir
						</div>
						{{whenChecked}}
					</div>
					<button type="button" class="btn btn-primary center-block section validate" data-dismiss="modal">Enregistrer</button>
				</div>
			</div>

		</div>
	</div>	
</template>

<template name='dispoRangeModal'>
	{{#genericModal title='Editer vos disponibilites'}}
	<h4>Editer vos disponibilit&eacute;s pour une p&eacute;riode donn&eacute;e</h4>
	<div class='col-xs-12 dispo-range form-horizontal'>
		<div class='form-group'>
			<label class='control-label'>Je suis toujours disponible</label>
			<input type='checkbox' id='alwaysDisp' checked='{{alwaysDisponible}}'>
		</div>
		{{#unless isAlwaysDisp}}
		<div class='dispo-range-checkbox form-group'>
			<label class='control-label'>Je serais </label>
			<div>
			<input type='radio' name='isDisp' value='true' checked> disponible
			<input type='radio' name='isDisp' value='false'> indisponible
			</div>
		</div>
		<div class='date form-group'>
			<label class='control-label'>Du </label>
			<input type='text' class='date-input date-from form-control' placeholder='JJ/MM/YYYY'>
			<label class='control-label'>A </label>
			<input type='text' class='hour-input hours-from form-control' placeholder='HH:mm'>
		</div>
		<div class='hours form-group'>
			<label class='control-label'>Au </label>
			<input type='text' class='date-input date-to form-control' placeholder='JJ/MM/YYYY'>
			<label class='control-label'>A </label>
			<input type='text' class='hour-input hours-to form-control' placeholder='HH:mm'>
		</div>
		{{else}}
		<div class='dispo-range-checkbox form-group'>
			<label class='control-label'>Je serais </label>
			<div>
			<input disabled type='radio' name='isDisp' value='true' checked> disponible
			<input disabled type='radio' name='isDisp' value='false'> indisponible
			</div>
		</div>
		<div class='date form-group'>
			<label class='control-label'>Du </label>
			<input disabled type='text' class='date-from date-input form-control' placeholder='JJ/MM/YYYY'>
			<label class='control-label'>A </label>
			<input disabled type='text' class='hours-from hours-input form-control' placeholder='HH:mm'>
		</div>
		<div class='hours form-group'>
			<label class='control-label'>Au </label>
			<input disabled type='text' class='date-to date-input form-control' placeholder='JJ/MM/YYYY'>
			<label class='control-label'>A </label>
			<input disabled type='text' class='hours-to hours-input form-control' placeholder='HH:mm'>
		</div>
		{{/unless}}
		{{#unless isAlwaysDisp}}
			{{rundatepicker}}
		{{/unless}}
	</div>
	{{else}}
	<button type="button" class="btn btn-primary center-block section validate" data-dismiss="modal">Enregistrer</button>
	{{/genericModal}}
</template>
