<template name='faq'>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-91207083-1', 'auto');
  ga('send', 'pageview');

</script>
	<h3>Foire aux questions</h3>
	FAQ <br>
	-Qu’est-ce que Jobday ? <br>
	Jobday est une plateforme de mise en relation. <br>
	On est là pour mettre les gens en contact. <br>
	D’un côté, <br>
	on permet à des travailleurs indépendants de trouver des clients, professionnels ou particuliers. <br>
	De l’autre côté, on permet à des entreprises, ou à des particuliers, <br>
	de trouver le meilleur travailleur indépendant pour réaliser une prestation de service. <br>
	Les travailleurs indépendants inscrits sur Jobday ne travaillent pas pour Jobday. <br>
	-Combien cela coûte ? <br>
	Jobday est entièrement gratuit ! <br>
	S’inscrire, <br>
	poster une annonce, <br>
	répondre à une annonce,<br>
	<center>tout cela est gratuit. </center><br>
	-Est-il obligatoire d’avoir un numéro de SIRET pour s’inscrire sur Jobday ? <br>
	Pas du tout. Jobday est ouvert à tous ceux qui souhaitent se rendre disponible pour réaliser une mission ou un service.<br>
	Si vous êtes un professionnel, vous devez fournir à Jobday votre numéro de SIRET.<br>
	Certaines annonces sont exclusivement destinées aux travailleurs professionnels.<br>
	Dans ce cas, ceux qui n’ont pas de numéro de SIRET ne peuvent pas y postuler.<br>
	-Qui poste les annonces ? <br>
	Sur Jobday, ceux sont les clients qui postent les annonces selon leurs besoins.<br>
	Les travailleurs indépendants doivent seulement remplir leur profil. <br>
	Chaque fois qu’une nouvelle annonce correspond aux capacités d’un travailleur, à ses dates de disponibilités, et à sa zone géographique, <br>
	il reçoit un message électronique (ou  une notification) pour le prévenir qu’une annonce est susceptible de l’intéresser. <br>
-Puis-je postuler à toutes les annonces ? Jobday utilise un algorithme qui propose à chacun les annonces qui correspond à ses capacités, <br>
sa zone géographique, et sa disponibilité.<br>
 Cependant, vous pouvez toujours postuler aux offres qui ne correspondent pas à votre activité principale,<br>
 car vous avez le droit d’exercer plusieurs activités.-Pourquoi le client ne paye-t-il pas directement le travailleur ? <br>
 Jobday est une plateforme de confiance, le client paye lorsqu’il valide un travailleur, <br>
 mais celui-ci ne reçoit l’argent que lorsque la mission est effectuée.<br>
 Cela est un gage de garantie pour les deux utilisateurs.<br>
 En cas d’incident, l’argent est rétrocédé au client, ou le travailleur ne peut pas être payé moins que ce qui a été validé au préalable.<br>
 -A quelle fréquence un travailleur est-il payé ? <br>
 Le travailleur reçoit l’argent qui lui ait dû chaque semaine.<br>
 Avant chaque règlement, Jobday fournit au travailleur la facture qu’il doit faire à Jobday pour ses missions réalisées.<br>
 -Comment sont fixés les prix des missions ? <br>
 Le client estime un coût pour une mission et il indique si ce tarif est négociable ou pas. <br>
 S’il est négociable, les travailleurs indépendants intéressés sont libres de proposer un devis et donc de négocier. <br>
 Une fois un devis accepté par les deux utilisateurs, le prix de la mission est validé. -Pourquoi est-ce qu’il y a des notes, des commentaires, et des badges ?<br>
 Le système de notation, de commentaire et de badge, permet au client de connaitre les appréciations des précédents clients d’un travailleur, et de se faire une idée sur sa qualité de travail.<br>
 Ce système permet également au travailleur de prouver son professionnalisme, la qualité de son travail, et de justifier son devis. 
-Est-il possible d’être un travailleur et un client ? Ou me faut-il deux comptes ? Il est tout à fait possible d’être un travailler indépendant et un client à la fois, car tout utilisateur peut offrir un service,<br>
 ou avoir besoin d’un service. 
 Il n’est donc pas nécessaire d’ouvrir deux comptes.<br>
 -Est-il possible de s’inscrire si l’on n’a pas 18 ans ? <br>
 Bien-sûr ! L’inscription est autorisée dès l’âge de 16 ans. 
 Néanmoins, vous devez fournir une autorisation parentale à contact@jobday.fr pour proposer vos services. <br>
 -Je suis un particulier, est-ce que je dois déclarer le travailleur après une mission ? <br>
 Vous êtes un client particulier, et le travailleur indépendant qui a réalisé une mission pour vous est un professionnel, vous n’avez rien à faire.<br>
 Si le travailleur n’est pas un professionnel, vous êtes tenu de déclarer la prestation auprès de l’Urssaf.<br>
 Selon la mission demandée, soit la prestation est éligible au CESU, et dans ce cas vous pouvez bénéficier de 50% de crédit d’impôt. Soit la prestation n’est pas éligible au CESU,<br>
 et vous devenez un « employeur particulier » le temps de la prestation. Pour savoir si la prestation est éligible au CESU, cliquez ici.<br>
 -Je ne suis pas un professionnel mais j’ai réalisé des missions, comment est-ce que je les déclare ? Lors de votre déclaration d’impôts, vous devez renseigner le montant perçu pendant l’année dans la partie « revenus complémentaires » sur le formulaire n°2042 C Pro. 

</template>
