<template name='footer'>
	<div class='container footer section'>
		<div class='row'>
			<div class='col-xs-12 col-sm-6'>
				<ul class='section list-unstyled'>
					<li><a href='/about' style='color:white;'>A Propos</a></li>
					<li><a href='/team' style='color:white;'>L'Equipe</a></li>
					<li><a href='#howitworks' style='color:white;'>Comment ca marche</a></li>
					<li><a href='/FAQ' style='color:white;'>Foire aux questions</a></li>
				</ul>
			</div>
			<div class='col-xs-12 col-sm-6' style='font-size:36px; color:white'>
				<h3>Rejoignez-nous sur</h3>
				<div class='footer-logos'>
					<a href='http://www.facebook.com/JobdayFr' style='color:white'><i class='fa fa-facebook-square'></i></a>
					<a href='http://www.twitter.com/JobdayFr' style='color:white'><i class='fa fa-twitter-square'></i></a>
					<i class='fa fa fa-google-plus-square'></i>
				</div>
			</div>
			<div class='col-xs-12'>
				<h6><small style='color:white'>Jobday Copyright 2016 Jobday SAS, Tous droits reserves.</small></h6>
			</div>
		</div>
	</div>
</template>
