<template name='home'>
	{{>carousel}}
	<div class='container'>
		<div class='row'>
			<div class='col-xs-12'>
				{{>searchbar}}
			</div>
			<div class='col-xs-12 quicklinks'>
				<div class='col-xs-4 category'>
					<img src='/groupe2.png'>
					<span class='col-xs-12'>HOTELLERIE & RESTAURATION</span>
				</div>
				<div class='col-xs-4 category'>
					<img src='/groupe6.png'>
					<span class='col-xs-12'>SERVICE A LA PERSONNE</span>
				</div>
				<div class='col-xs-4 category'>
					<img src='/groupe3.png'>
					<span class='col-xs-12'>COMMERCE & VENTE</span>
				</div>
			</div>
			<div class='col-xs-12 links-button'>
				<div class='col-xs-4'>
					<div class='col-xs-12 category-jobs'>
						<span> DECOUVREZ LES JOBS PAR CATEGORIE </span>
					</div>
				</div>
				<div class='col-xs-4'>
					<div class='col-xs-12 all-jobs'>
						<i class='glyphicon glyphicon-eye-open'></i>
						<span> VOIR TOUS LES JOBS</span>
					</div>
				</div>
				<div class='col-xs-4'>
					<div class='col-xs-12 urgent-jobs'>
						<span> DERNIER JOB URGENT </span>
					</div>
				</div>
			</div>
			<div class='col-xs-12' style='padding:30px;'>
				<div class='col-xs-8' style="
				font-size: 2em;
				padding: 30px;
				border-left: 5px solid #3ACFD5;
				border-right: 5px solid #ed6e41;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
				background-position: 0 0, 0 100% ;
				background-repeat: no-repeat;
				-webkit-background-size: 100% 5px;
				-moz-background-size: 100% 5px;
				background-size: 100% 5px;
				background-image: url(data:image/svg+xml);
				background-image: -webkit-linear-gradient(left, #ed6e41 0%, #ed6e41 100%), -webkit-linear-gradient(left, #3acfd5 0%, #ed6e41 100%);
				background-image: -moz-linear-gradient(left, #ed6e41 0%, #ed6e41 100%), -moz-linear-gradient(left, #3acfd5 0%, #ed6e41 100%);
				background-image: -o-linear-gradient(left, #ed6e41 0%, #3acfd5 100%), -o-linear-gradient(left, #3acfd5 0%, #ed6e41 100%);
				background-image: linear-gradient(to left, #ed6e41 0%, #3acfd5 100%), linear-gradient(to right, #3acfd5 0%, #ed6e41 100%);
				display:inline-block;">
					<img src="/jobday.png" width="20%"> est une PLATEFORME de MISE EN RELATION entre TRAVAILLEURS INDEPENDANTS et leurs clients soient PARTICULIERS ou des PROFESSIONNELS.  
				</div>
				<div class='col-xs-4'>
					<img src='/appliMobile.png' width='100%'>
				</div>
			</div>
		</div>
	</div>
</template>
