<template name='home'>
	{{>carousel}}
	<div class='container'>
		<div class='row'>
			<div class='col-xs-12'>
				{{>searchbar}}
			</div>
			<div class='col-xs-12 quicklinks section'>
				<h4 class='blue' style='text-transform:uppercase'>Les TOP categories du moment</h4>
				<div class='col-xs-12 col-sm-4 category' data-category='1'>
					<img src='/groupe2.png'>
					<span class='col-xs-12'>HOTELLERIE & RESTAURATION</span>
				</div>
				<div class='col-xs-12 col-sm-4 category' data-category='5'>
					<img src='/groupe6.png'>
					<span class='col-xs-12'>SERVICE A LA PERSONNE</span>
				</div>
				<div class='col-xs-12 col-sm-4 category' data-category='2'>
					<img src='/groupe3.png'>
					<span class='col-xs-12'>COMMERCE & VENTE</span>
				</div>
			</div>
			<div class='col-xs-12 links-button section'>
				<div class='col-xs-12 col-md-4'>
					<div class='col-xs-12 category-jobs button'>
						<span> DECOUVREZ LES JOBS PAR CATEGORIE </span>
					</div>
				</div>
				<div class='col-xs-12 col-md-4'>
					<div class='col-xs-12 all-jobs button'>
						<i class='glyphicon glyphicon-eye-open'></i>
						<span> VOIR TOUS LES JOBS</span>
					</div>
				</div>
				<div class='col-xs-12 col-md-4'>
					<div class='col-xs-12 urgent-jobs button'>
						<span> DERNIER JOB URGENT </span>
					</div>
				</div>
			</div>
			<div class='col-xs-12'>
				<div class='col-xs-12 col-md-8 section jobday-desc-container'>
					<div class='col-xs-12 jobday-desc'>
						<img src="/jobday.png" width="20%"> est une PLATEFORME de MISE EN RELATION entre TRAVAILLEURS INDEPENDANTS et leurs clients soient PARTICULIERS ou des PROFESSIONNELS.  
					</div>
				</div>
				<div class='col-xs-12 col-md-4 section'>
					<img src='/appliMobile.png' width='100%'>
				</div>
			</div>
			<div class='col-xs-12 section'>
				<h4 class='orange section' style='text-transform:uppercase' id='howitworks'>Comment ca marche ?</h4>
				<div class='col-xs-12 conditions'>
					<div class='col-xs-12 conditions-logos'>
						<div class='col-xs-12 col-sm-4 section'>
							<img src='/condition1.png'>
							<div class='tooltip-header section'>
								<span>100% GRATUIT :</span>
							</div>
							<span class='tooltips'>
								<span>Les postes d'annonces, les recherches et les inscriptions au site sont gratuits</span>
							</span>
						</div>
						<div class='col-xs-12 col-sm-4 section'>
							<img src='/condition2.png'>
							<div class='tooltip-header section'>
								<span>DES TRAVAILLEURS QUALIFIES :</span>
							</div>
							<span class='tooltips'>
								<span>Grace au badges aux notes et aux commentaires attribues a chaques travailleurs, pour vous assurer de choisir la meilleure personne pour votre mission</span>
							</span>
						</div>
						<div class='col-xs-12 col-sm-4 section'>
							<img src='/condition3.png'>
							<div class='tooltip-header section'>
								<span><i class='glyphicon glyphicon-lock'></i> SECURITE :</span>
							</div>
							<span class='tooltips'>
								<span>Vos donnees personnelles et bancaires sont protegees</span>
							</span>
						</div>
					</div>
					<div class='col-xs-12 section nopad'>
						<div class='conditions-tooltips'>
							<div class='col-xs-12 section hidden-xs'>
								<div class='col-xs-4'>
									<span class='tooltips topleft col-xs-12'>
										<span>ALORS DITES NOUS CE DONT VOUS AVEZ BESOIN, LES ANNONCES SONT GRAUITES</span>
									</span>
									<span class='tooltips botleft col-xs-12'>
										<span>Recevez rapidement des propositions de travailleurs de confiance</span>
									</span>
								</div>
								<div class='col-xs-4' style='vertical-align:middle:'>
									<img src='/perso1.png' width='100%' style='padding:30px;width:100%;display:inline-block'>
								</div>
								<div class='col-xs-4'>
									<span class='tooltips topright col-xs-12'>
										<span>Choisissez le meilleur travailleur qualifie pour votre mission</span>
									</span>
									<span class='tooltips botright col-xs-12'>
										<span>Notez la prestation<br>
											<i class='glyphicon glyphicon-star-empty'></i><i class='glyphicon glyphicon-star-empty'></i><i class='glyphicon glyphicon-star-empty'></i><i class='glyphicon glyphicon-star-empty'></i><i class='glyphicon glyphicon-star-empty'></i>
										</span>
									</span>
								</div>
							</div>
							<div class='col-xs-12 section visible-xs nopad' style='font-size:x-small'>
								<div class='col-xs-12 nopad'>
									<span class='tooltips topleft col-xs-6 nopad'>
										<span>ALORS DITES NOUS CE DONT VOUS AVEZ BESOIN, LES ANNONCES SONT GRAUITES</span>
									</span>
									<span class='col-xs-6 nopad'>
										<img src='/perso1.png' width='100%' style='padding:10px;width:100%;display:inline-block'>
									</span>
								</div>
								<div class='col-xs-12 nopad'>
									<span class='tooltips topleft col-xs-6 nopad'>
										<span>Recevez rapidement des propositions de travailleurs de confiance</span>
									</span>
									<span class='col-xs-6 nopad'>
										<img src='/perso1.png' width='100%' style='padding:10px;width:100%;display:inline-block'>
									</span>
								</div>
								<div class='col-xs-12 nopad'>
									<span class='tooltips topleft col-xs-6 nopad'>
										<span>Choisissez le meilleur travailleur qualifie pour votre mission</span>
									</span>
									<span class='col-xs-6 nopad'>
										<img src='/perso1.png' width='100%' style='padding:10px;width:100%;display:inline-block'>
									</span>
								</div>
								<div class='col-xs-12 nopad'>
									<span class='tooltips topleft col-xs-6 nopad'>
										<span>Notez la prestation<br>
											<i class='glyphicon glyphicon-star-empty'></i><i class='glyphicon glyphicon-star-empty'></i><i class='glyphicon glyphicon-star-empty'></i><i class='glyphicon glyphicon-star-empty'></i><i class='glyphicon glyphicon-star-empty'></i>
										</span>
									</span>
									<span class='col-xs-6 nopad'>
										<img src='/perso1.png' width='100%' style='padding:10px;width:100%;display:inline-block'>
									</span>
								</div>
							</div>
						</div>	
					</div>	
					<div class='col-xs-12 section nopad'>
						<div class='jobday-desc section col-xs-12 nopad'>
							<h2>Avec Jobday, soyez votre propre patron</h2>
							<ul style='text-align:left;font-size:initial'>
								<li>Plus besoin d'envoyer des tonnes de CV</li>
								<li>Plus besoin de passer par une agence d'interim</li>
								<li>Plus besoin de demander a son voisin</li>
								<li>Organisez votre vie professionnelle comme bon vous semble</li>
							</ul>
						</div>
					</div>
					<div class='col-xs-12 section'>
						<div class='col-xs-12 newsletter nopad'>
							<h2>Newsletter</h2>
							<h3 class='col-xs-12'>Inscrivez-vous pour vous informer de nos actualites</h3>
							<input type='text' placeholder='VOTRE NOM' class='col-xs-12 form-control news-name'>
							<input type='text' placeholder='VOTRE MAIL' class='col-xs-12 form-control news-mail'>
							<button class='subscribe-button'>SOUSCRIRE</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
