<template name='leaveComment'>
	{{#genericModal title='Laisser un avis'}}
	<h4> Qu'avez-vous pensé de la prestation de {{username offer.userId}} ?</h4>
	<div class='col-xs-12 form-horizontal'>
		<div class='form-group comment-note'>
			<label class='control-label col-xs-4'>Note</label>
			<div class='form-input col-xs-8'>
				{{#times 5}}
				<i class='star material-icons' data-note='{{this}}'>{{star this}}</i>
				{{/times}}
			</div>
		</div>
		<div class='form-group comment-text'>
			<label class='control-label'>Commentaire</label>
			<textarea class='form-control'></textarea>
		</div>
	</div>
	{{else}}
		<div class='col-xs-4 col-xs-offset-1 orange button' data-dismiss='modal'>
			Annuler
		</div>
		<div class='col-xs-4 col-xs-offset-2 blue button'>
			Envoyer
		</div>
	{{/genericModal}}
</template>
