<template name="loginCustom">
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header" style="background-color:#63c2c7;color:white;">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title " id="myModalLabel">SE CONNECTER</h4>
				</div>
				<form id="new_prayer">
					<div class="modal-body">
						<div class="input-group input-group-lg" style="width:100%;margin-top:5px;">
							<span class="input-group-addon" id="sizing-addon1" style="width:150px;">E-mail </span>
							<input type="email" id="loginEmail" class="form-control" placeholder="xxxxxxxx@xxxx.xxxx" aria-describedby="sizing-addon1">
						</div>
						<div class="input-group input-group-lg" style="width:100%;margin-top:5px;">
							<span class="input-group-addon" id="sizing-addon1" style="width:150px;">Mot de passe  </span>
							<input type="password" id="loginPassword" class="form-control" placeholder="*********" aria-describedby="sizing-addon1">
						</div>
						<span class='has-error hidden'>Mauvaise adresse ou mauvais mot de passe</span>
					</div>
					<div class="modal-footer">
						<div class="" style="text-align:center;">
							<h2>Choississez-votre type de compte de connexion</h2>
							<img id="jobdaybtn" style="cursor:pointer" height="100px" src="/jobday.png" alt=""><br>
							<a href='#'>mot de passe oublie</a>
							<h2>Ou</h2>
							<img id="googlebtn" style="cursor:pointer" width="100px" height="100px" src="/image/png/Google_Plus.png" alt="">
							<img id="facebookbtn"  scope="public_profile,email"  style="cursor:pointer" width="100px" height="100px" src="/image/png/facebook.png" alt="">
							<img id="linkedInbtn"  scope="public_profile,email"  style="cursor:pointer" width="100px" height="100px" src="/image/png/Linkedin.png" alt="">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</template>
