<template name='messages'>
	<div class='panel-heading'>
		<h4 class='panel-title'><a data-toggle='collapse' data-parent='#{{parentAcc}}' href='#{{parentAcc}}-collapse-2'>Questions/Reponses ({{messages.length}})</a></h4>
	</div>
	<div id='{{parentAcc}}-collapse-2' class='panel-collapse collapse'>
		<div class='panel-body'>
			{{#unless messages.length}}
				<h3><small>Aucune question n'a encore ete posee</small></h3>
			{{else}}
				{{#each messages}}
					{{>message}}
				{{/each}}
			{{/unless}}
			{{#if currentUser}}
			<div class='col-xs-12 col-md-3 section hidden-xs hidden-sm'>
				<img width='100%' src='{{currentUserData.photo}}'>
			</div>
			<div class='col-xs-12 col-md-9 section'>
				<textarea class='form-control' placeholder='Posez une question'></textarea>
				<small class='col-xs-12 col-sm-6 col-md-8 col-lg-9'>Il est interdit de divulguer ici des informations pouvant permettre de vous contacter</small>
				<span class='submit orange col-xs-12 col-sm-6 col-md-4 col-lg-3'>Envoyer</span>
			</div>
			{{else}}
			<div class='col-xs-12'>
				<span class='warning'>Vous devez etre connecte pour envoyer un message</span>
			</div>
			{{/if}}
		</div>
	</div>
</template>

<template name='message'>
	<div class='col-xs-12 section'>
		<div class='col-xs-4'>
			{{#with userData userId}}
			<img src='{{photo}}' style='display:block;max-width:100%;max-height:150px;margin:0 auto;'>
			{{/with}}
		</div>
		<div class='col-xs-8'>
			{{#with userData userId}}
			<label>{{#unless society}}{{firstname}} {{/unless}}{{name}}</label>
			{{/with}}
			<small>{{fromNow date}}</small>
			<p>{{text}}</p>
		</div>
	</div>
</template>
