<template name="missionProfil">
	<div class='mission-container col-xs-12 col-md-9'>
		<div class='mission-header' style='width:100%'>
			{{#with category this.category}}
			<img src='{{icon}}' style='display:inline-block;vertical-align:middle;padding:15px;' width='23%' data-toggle='tooltip' title='{{name}}'>
			{{/with}}
			<div style='width:75%;display:inline-block;vertical-align:middle;'>
				<h3 style='vertical-align:middle;'>{{title}}<br>
					<small>{{getCat}}</small>
				</h3>
				<h4 style='text-align:right;'><small>Poste par <a href='/profilUser/{{owner}}'>{{username owner}}</a> {{fromNow createdAt}}</small></h4>
			</div>
		</div>
		<div class='mission-description col-xs-12 section bleft'>
			<span class='col-xs-6 col-md-3'>
				<i class='material-icons'>person_add</i>{{waitingFor}} places restantes
			</span>
			{{#if tools}}
			<span class='col-xs-6 col-md-3'>
				<i class='material-icons'>build</i> Outils fournis
			</span>
			{{/if}}
			{{#if clothes}}
			<span class='col-xs-6 col-md-3'>
				<i class='material-icons'>accessibility</i> Vetements fournis
			</span>
			{{/if}}
			{{#if needsVehicle}}
			<span class='col-xs-6 col-md-3'>
				<i class='material-icons'>directions_car</i> Vehicule necessaire
			</span>
			{{/if}}
			<h4 class='col-xs-12 section pre-wrap'>{{description}}</h4>
			<h4 class='col-xs-12 pre-wrap'><small>{{precisions}}</small></h4>
			<div class='col-xs-12 col-md-6 section mission-dates'>
				<div class='col-xs-12'>
					<i class='material-icons'>today</i>
					{{#if beforeDate}}
					<label>Avant le {{formatDate startDate}}</label>
					{{else}}
					{{#if endDate}}
					<label>Du {{formatDate startDate}} au {{formatDate endDate}}</label>
					{{else}}
					<label>Le {{formatDate startDate}}</label>
					{{/if}}
					{{/if}}
				</div>
			</div>
			<div class='col-xs-12 col-md-6 section mission-hours'>
				<div class='col-xs-12'>
					<i class='material-icons'>schedule</i>
					{{#with workingHours}}
					{{#if $eq type 1}}	
					<label>Horaire libre</label>
					{{/if}}{{#if $eq type 2}}
					<label>Le matin</label>
					{{/if}}{{#if $eq type 3}}
					<label>L'apres-midi</label>
					{{/if}}{{#if $eq type 4}}
					<label>Le soir</label>
					{{/if}}{{#if $eq type 5}}
					<label>De {{from.hour}}:{{from.min}} a {{to.hour}}:{{to.min}}</label>
					{{/if}}
					{{/with}}
				</div>
			</div>
		</div>
	</div>
	<div class='mission-sidebar col-md-3 hidden-sm hidden-xs'>
		<div class='col-xs-12 section bleft'>
			<div class='col-xs-12 mission-status'>
				<small>{{getStatus}}</small>
				<div class='col-xs-12 status-{{getStatus}}' data-toggle='tooltip' title='{{getStatus}}'>
				</div>
			</div>
			<div class='col-xs-12 mission-infos section'>
				<h4>Prix: {{budget}}<small><i style='vertical-align:bottom' class='material-icons'>euro_symbol</i></small></h4>
				{{#if $eq workingHours.type 5}}
				{{duration workingHours.from workingHours.to}}
				{{/if}}
			</div>
			{{#if currentUser}}
				{{#if $eq status 3}}
				<span>Job termine</span>
				{{else}}
				{{#if $eq currentUser._id owner}}
					{{#if $eq status 2}}
							<div id="btnPay" class="orange button section col-xs-12" >
								<i class='glyphicon glyphicon-money-mark'></i> Effectuer le paiement
							</div>
							<div id="btnPayFake" class="orange button section col-xs-12" >
								<i class='glyphicon glyphicon-money-mark'></i> Tester le paiement
							</div>
					{{else}}
						{{#if $eq status 1}}
						<div id="btnClose" class="orange button section col-xs-12" >
							<i class='glyphicon glyphicon-money-mark'></i> Fermer les candidatures
						</div>
						{{/if}}
					{{/if}}
					<div id="btnModifierJob" class="blue button section col-xs-12" >
						<i class='glyphicon glyphicon-edit'></i>Editer le Job 
					</div>
				{{else}}
					{{#unless hasOffer}}
					{{#if waitingFor}}
						{{#if negocible}}
						<div id="btnFaireOffre" class="orange button section col-xs-12" >
							<i class='glyphicon glyphicon-map-marker'></i> Faire une Offre
						</div>
						{{else}}
						<div id="btnFaireOffre" class="blue button section col-xs-12" >
							<i class='glyphicon glyphicon-map-marker'></i> Faire une Offre
						</div>
						{{/if}}
					{{/if}}
					{{/unless}}
				{{/if}}
				{{/if}}
			{{/if}}
			<div class="panel-group col-xs-12" style='margin-top:5px;'>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" href="#collapse1">Plus d'options</a>
						</h4>
					</div>
					<div id="collapse1" class="panel-collapse collapse in">
						<ul class="list-group" style='text-align:left'>
							<li class='list-group-item'><a href="#" class='postSimilarAdvert'>Poster une offre similaire</a></li>
							<li class='list-group-item'>{{>shareit}}</li>
							<li class='list-group-item'><a href="#">Suivre l'annonce</a></li>
							<li class='list-group-item'><a href="#">Signaler un abus</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='col-xs-12'>
		<div id='big-accordion' class='panel-group mission-questions col-md-8 hidden-xs hidden-sm' style='padding:0'>
			<div class='col-xs-12 section bleft panel panel-default'>
				{{>offers offers=this.offers parentAcc="big-accordion"}}
			</div>
			<div class='col-xs-12 section bleft panel panel-default'>
				{{>messages messages=this.messages parentAcc="big-accordion"}}
			</div>
		</div>
		<div class='col-xs-12 col-md-4 section bleft'>
			<div class='col-xs-12'>
				<div id='mission-map'></div>
			</div>
		</div>
		<div id='little-accordion' class='panel-group mission-questions col-xs-12 visible-xs visible-sm' style='padding:0'>
			<div class='col-xs-12 section bleft panel panel-default'>
				{{>offers offers=this.offers parentAcc="little-accordion"}}
			</div>
			<div class='col-xs-12 section bleft panel panel-default'>
				{{>messages messages=this.messages parentAcc="little-accordion"}}
			</div>
		</div>
	</div>
	<div class='mission-sidebar col-xs-12 visible-sm visible-xs'>
		<div class='col-xs-12 section bleft'>
			<div class='col-xs-12 mission-status'>
				<small>{{getStatus}}</small>
				<div class='col-xs-12 status-{{getStatus}}' data-toggle='tooltip' title='{{getStatus}}'>
				</div>
			</div>
			<div class='col-xs-12 mission-infos section'>
				<h4>Prix: {{budget}}<small><i style='vertical-align:bottom' class='material-icons'>euro_symbol</i></small></h4>
				{{#if $eq workingHours.type 5}}
				{{duration workingHours.from workingHours.to}}
				{{/if}}
			</div>
			{{#if currentUser}}
				{{#if $eq status 2}}
				<span>Job termine</span>
				{{else}}
				{{#if $eq currentUser._id owner}}
					{{#unless waitingFor}}
						<div id="btnPay" class="orange button section col-xs-12" >
							<i class='glyphicon glyphicon-money-mark'></i> Effectuer le paiement
						</div>
					{{/unless}}
					<div id="btnModifierJob" class="blue button section col-xs-12" >
						<i class='glyphicon glyphicon-edit'></i>Editer le Job 
					</div>
				{{else}}
					{{#unless hasOffer}}
					{{#if waitingFor}}
						{{#if negocible}}
						<div id="btnFaireOffre" class="orange button section col-xs-12" >
							<i class='glyphicon glyphicon-map-marker'></i> Faire une Offre
						</div>
						<div id="btnPayFake" class="orange button section col-xs-12" >
							<i class='glyphicon glyphicon-money-mark'></i> Tester le paiement
						</div>
						{{else}}
						<div id="btnFaireOffre" class="blue button section col-xs-12" >
							<i class='glyphicon glyphicon-map-marker'></i> Faire une Offre
						</div>
						{{/if}}
					{{/if}}
					{{/unless}}
				{{/if}}
				{{/if}}
			{{/if}}
			<div class="panel-group col-xs-12" style='margin-top:5px;'>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" href="#collapse2">Plus d'options</a>
						</h4>
					</div>
					<div id="collapse2" class="panel-collapse collapse">
						<ul class="list-group" style='text-align:left'>
							<li class='list-group-item'><a href="#" class='postSimilarAdvert'>Poster une offre similaire</a></li>
							<li class='list-group-item'><a href="#" class='shareOnFacebook' >Partager sur Facebook</a></li>
							<li class='list-group-item'><a href="#">Suivre l'annonce</a></li>
							<li class='list-group-item'><a href="#">Signaler un abus</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<template name='makeOfferModal'>
	<div class="modal fade" id="posterOffre" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog container" role="document">
			<div class="modal-content row">
				<div class="modal-header col-xs-12" style="background-color:#63c2c7;color:white;">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title " id="myModalLabel">Poster une offre</h4>
				</div>
				<form id="new_prayer" class='form'>
					<div class="modal-body col-xs-12">
						<div class='form-group'>
							<label class="control-label">Prix</label>
							{{#if negocible}}
							<div class="input-group">
								<input type='number' id='make-offer-price' class='form-control' placeholder='{{budget}}' value='{{budget}}'>
								<div class='input-group-addon'>€</div>
							</div>
							{{else}}
							<h3>{{budget}} <small><i class='material-icons'>euro_symbol</i></small></h3>
							{{/if}}
						</div>
						<div class="form-group">
							<label class="control-label">Commentaire</label>
							<textarea id='make-offer-comment' class='form-control col-xs-12' rows="4" cols="50"></textarea>
						</div>
					</div>
					<div class="modal-footer">
						<div class="col-xs-12" style="text-align:center;">
							<span id="btnPosterOffreGo" class="orange col-xs-6 col-xs-offset-3"> Poster Offre </span>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</template>
