<template name='navbar'>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header" >
				<button type="button" id='icon-barmenu' class="navbar-toggle collapsed pull-left" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href='/' class="navbar-brand" id='jobday-logo' style='padding:5px;'>
					<img src='/jobday.png' height='100%'>
				</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class='proposerUnJob'><a>PROPOSER UN JOB</a></li>
					<li class='chercherUnJob'><a>CHERCHER UN JOB</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					{{#unless currentUser}}
					<li><a class='signup-link'>S'INSCRIRE</a><span> | </span><a class='login-link'>SE CONNECTER</a> | <a class='commentCaMarche'>COMMENT CA MARCHE ?</a></li>
					{{else}}
					<!--
					<li><i class='glyphicon glyphicon-envelope'></i></li>
					-->
					<li><div class='notifButton'>
					
  <a style="font-size:25px"  class="btn btn-default btn-lg btn-link">
    <span class="glyphicon glyphicon-bell"></span>
  </a>
  <span style="background:white;position:relative; top: -10px; left: -25px;">{{numberNotificationALL}}</span>
</div></li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle='dropdown'><img src='{{currentUserData.photo}}'><span class="caret"></span></a>
						<ul class="dropdown-menu" aria-labelledby='nav-dropdown'>
							{{#if isInRole 'admin'}}
							<li><a href='/admin' class='admin-link'>Admin section</a></li>
							{{/if}}
							<li><a class='profile-link'>{{currentUserData.firstname}} {{currentUserData.name}}</a></li>
							<li role="separator" class="divider"></li>
							<li><a class='logout'>Deconnexion</a></li>
						</ul>
					</li>
					{{/unless}}
					<!--<li class='fb-button'><img src='/facebook.png'></li>
					
					-->
				</ul>
			</div><!--/.nav-collapse -->
		</div>
       
	</nav>
   
    
    
	{{>loginCustom}}
	{{>signupCustom}}
</template>
