<template name='offers'>
	<div class='panel-heading'>
		<h4 class='panel-title'><a data-toggle='collapse' data-parent='#{{parentAcc}}' href='#{{parentAcc}}-collapse-1'>Offres recues ({{offers.length}})</a></h4>
	</div>
	<div id='{{parentAcc}}-collapse-1' class='panel-collapse collapse'>
		<div class='panel-body'>
			{{#unless offers.length}}
				<h3><small>Aucune offre n'a encore été faite</small></h3>
			{{else}}
				{{#each offers}}
					{{>offer}}
				{{/each}}
			{{/unless}}
		</div>
	</div>
</template>

<template name='offer'>
	<div class='col-xs-12 offer'>
		{{#with userData userId}}
		<div class='col-xs-12 col-sm-4 col-md-3 offer-user' style='padding:0'>
			<img src='{{photo}}' width='100%'>
			<h4><a href='/profiluser/{{userId}}'>{{username userId}}</a></h4>
			{{>stars notes=notes count=true}}
			<span class='offer-badges col-xs-4'>
						{{#each badges}}
						{{/each}}
					</span>
		</div>
		{{/with}}
		<div class='col-xs-12 col-sm-8 col-md-9 '>
			<div class='col-xs-12 offer-info'>
				<span class='offer-distance col-xs-3'>{{m2km distance}}km	</span>
				{{#with userData userId}}
					<span class='offer-pro col-xs-1'>
					{{#if society}}
							<i class='glyphicon glyphicon-briefcase text-success' data-toggle='tooltip' title='Professionel'></i>
							{{else}}
							<i class='glyphicon glyphicon-briefcase text-warning' data-toggle='tooltip' title='Non Professionel'></i>
					{{/if}}
					</span>
					
				{{/with}}
				<span class='offer-price col-xs-3'>{{price}}€</span>
			</div>
			<div class='offer-comment col-xs-12 section' style="word-break: break-all;" >
				<h4>{{comment}}</h4>
			</div>
		</div>
		{{#if $eq ../../owner currentUser._id}}
			<div class='offer-validation'>
				{{#if $eq ../../status 2}}
					{{#if validated}}
						{{#unless hasBeenNoted}}
							<div class='blue button comment'>Laisser un avis</div>
						{{/unless}}
					{{/if}}
				{{else}}
					{{#if requestingValidation}}
						{{>minispinner}}
					{{else}}
						{{#if validated}}
							<div class='orange button invalidate'>Annuler votre choix</div>
						{{else}}
							{{#if $eq ../../status 0}}
								<div class='blue button validate'>Valider</div>
							{{/if}}
						{{/if}}
					{{/if}}
				{{/if}}
			</div>
		{{/if}}
	</div>
</template>
