<template name='forgottenPasswordModal'>
	{{#genericModal title='Mot de passe oublie'}}
		<h4>Entrez votre adresse Email pour recevoir un lien vous permettant de reinitialiser votre mot de passe</h4>
		<div class='form form-horizontal col-xs-12'>
			<div class='form-group col-xs-12'>
				<label for='reset-password-email'>Votre adresse Email</label>
				<input id='reset-password-email' class="form-control" type="email" />
			</div>
		</div>
	{{else}}
		<div class='cancel col-xs-4 col-xs-offset-1 orange button'>
			Annuler
		</div>
		<div class='confirm col-xs-4 col-xs-offset-2 blue button'>
			Confirmer
		</div>
	{{/genericModal}}
</template>

<template name='resetPasswordForm'>
  {{#if inEnrollAccountFlow}}
		{{#genericModal title='Bienvenue sur Jobday' id='reset-pass'}}
			<h4>Choisissez un mot de passe</h4>
			<div class="form form-horizontal col-xs-12">
				<div class='form-group col-xs-12'>
					<label for='enroll-account-password'>Choisissez un mot de passe</label>
					<input id='enroll-account-password' class="form-control" type="password" />
				</div>
			</div>
			{{> _loginButtonsMessages}}
		{{else}}
			<div class="button orange" id="login-buttons-enroll-account-button">
				Valider votre compte
			</div>
		{{/genericModal}}
  {{/if}}
  {{#if inResetPasswordFlow}}
		{{#genericModal title='Bienvenue sur Jobday' id='reset-pass'}}
			<h4>Choisissez un nouveau mot de passe</h4>
			<div class="form form-horizontal col-xs-12">
				<div class='form-group col-xs-12'>
					<label for='reset-password-new-password'>Votre nouveau un mot de passe</label>
					<input id='reset-password-new-password' class="form-control" type="password" />
				</div>
			</div>
			{{> _loginButtonsMessages}}
		{{else}}
			<div class="button orange" id="login-buttons-enroll-account-button">
				Valider
			</div>
		{{/genericModal}}
  {{/if}}
</template>
