<template name="Adverts">
	<div id="AdvertsList" class="col-xs-12 nopad">
		{{#if pagesData.getPage}}
			{{>pages}}
			{{>pagesNav}}
		{{else}}
			<h2 class='col-xs-12'><small>Aucun resultat</small></h2>
		{{/if}}
	</div>
</template>

<template name="searchMission">
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-91207083-1', 'auto');
  ga('send', 'pageview');

</script>
	<div class='col-xs-12 search-buttons'>
		<span class='col-xs-6 col-md-3 button-container'>
			<span  id="btnSearchJobParticulier" class="col-xs-12 nopad button blue glyphicon glyphicon-search {{active 'particulier'}}"> Jobs entre Particuliers</span>
		</span>
		<span class='col-xs-6 col-md-3 button-container'>
			<span  id="btnSearchJobProfessionel" class="col-xs-12 nopad button blue glyphicon glyphicon-search {{active 'pro'}}"> Jobs pour les Professionnels</span>
		</span>
		<span class='col-xs-6 col-md-3 button-container'>
			<span  id="btnSearchJobAll" class="col-xs-12 button nopad blue glyphicon glyphicon-search {{active 'all'}}"> Tous les Jobs</span>
		</span>
		<span class='col-xs-6 col-md-3 button-container'>
			<span  id="btnSearchJobOnline" class="col-xs-12 nopad button blue glyphicon glyphicon-search {{active 'online'}}"> Jobs Connectés</span>
		</span>
	</div>
	<div class='form col-xs-12 bleft section'>
		<div class='col-xs-12 col-md-6'>
			<div class="form-group col-xs-12">
				<label class="control-label">Catégorie</label>
				<select autocomplete="off" id="categorySelect" class="form-control">
					<option value="off">Toutes Catégories</option>
					{{#each categories}}
					<option value="{{index}}">{{name}}</option>
					{{/each}}
				</select>
			</div>
			<div class="form-group col-xs-12">
				<label class="control-label">Sous Catégorie</label>
				<select autocomplete="off" id="subcatSelect" class="form-control" {{subdisabled}}>
					<option value="off">Toutes Sous Catégories</option>
					{{#each subcategories}}
					<option value='{{index}}'>{{name}}</option>
					{{/each}}
				</select>
			</div>
			<div class="form-group col-xs-12">
				<label class="control-label">Date de debut</label>
				<select autocomplete="off" id="dateSelect" class="form-control">
					<option value="off">Toutes les dates</option>
					<option value="future">Toutes les dates a venir</option>
					<option value='hour'>Dans l'heure</option>
					<option value='day'>Aujourd'hui</option>
					<option value='week'>Les 7 prochains jours</option>
					<option value='past'>Passees</option>
				</select>
			</div>
		</div>
		<div class='col-xs-12 col-md-6'>
			<div class='form-group col-xs-12'>
			<input type="text"  class="form-control section" placeholder="Votre Besoin ?" id="besoin" aria-describedby="sizing-addon1" style="margin-top: 2px;margin-bottom: 2px;">
			</div>
			<div class='form-group col-xs-12'>
			<input class='form-control' placeholder='Localisation' id='localisation'>
			</div>
			<div class='form-group col-xs-12'>
			<input class='form-control' placeholder='Mots-clefs' id='keyword'>
			</div>
		</div>
	</div>
	<div class='col-xs-12 bleft section'>
	<div class='col-xs-12 col-md-6'>
		<label class='control-label'>Trier Par :</label>
		<select class='form-control' id='sort-type'>
			<option value='date_desc'>Date Publication Récente (Par défaut)</option>
			<option value='date_asc'>Urgence</option>
			<option value='price_asc'>Prix croissant</option>
			<option value='price_desc'>Prix décroissant</option>
		</select>
	</div>
	<div class='col-xs-12 col-md-6 section'>
		<div class='button-container'>
			<span id="btnSearch" class="button orange glyphicon glyphicon-search col-xs-6 col-xs-offset-3"> Rechercher </span>
		</div>
	</div>
	</div>
	<div class="ligneTableau col-xs-12">
		<div class="celluleTableau col-xs-12 col-md-6 nopad">
			{{> Adverts}}
		</div>
		<div class="celluleTableau col-xs-12 col-md-6">
			<div id='searchMissionMap' data-spy='affix' data-offset-top='400'></div>
		</div>
	</div>
</template>
