<template name='searchbar'>
	<div class='searchbar-container col-xs-12'>
		<div class='searchbar col-xs-12 col-md-10'>
			<span class='col-xs-12 col-sm-6'>QUE RECHERCHEZ VOUS?</span>
			<span class='col-xs-12 col-sm-6'>
				<input type='text' id='local-input' class='col-xs-12 col-sm-6 pull-right' placeholder='LOCALISATION ?'>
				<input type='text' class='col-xs-12 col-sm-6 pull-right' placeholder='VOTRE BESOIN ?'>
			</span>
		</div>
		<div class='col-xs-6 col-xs-offset-3 col-md-2 col-md-offset-0'>
			<button class='find-button col-xs-12 hidden-xs hidden-sm'>TROUVER</button>
			<button class='find-button col-xs-12 visible-xs visible-sm section'>TROUVER</button>
		</div>
	</div>
</template>
