<template name='signupCustom'>
	<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header" style="background-color:#63c2c7;color:white;">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title " id="myModalLabel">S'INSCRIRE</h4>
				</div>
				<form id="new_prayer">
					{{#unless $.Session.equals 'mailSent' true}}
					<div class="modal-body">
						<div class="input-group input-group-lg" style="width:100%;margin-top:5px;">
							<span class="input-group-addon" id="sizing-addon3" style="width:150px;">Status</span>
							<select id='societyInput' class='form-control' aria-describedby='sizing-addon3'>
								<option value='individual'>Particulier</option>
								<option value="professional">Auto-entrepreneur</option>
								<option value='society'>Societe</option>
							</select>
						</div>
						{{#unless $.Session.equals 'society' 'society'}}
						<div class="input-group input-group-lg" style="width:100%;margin-top:5px;">
							<span class="input-group-addon" id="sizing-addon4" style="width:150px;">Pr&eacute;nom </span>
							<input type="text" id="signupFirstname" class="form-control" placeholder="Votre pr&eacute;nom" aria-describedby="sizing-addon1">
						</div>
						<div class="input-group input-group-lg" style="width:100%;margin-top:5px;">
							<span class="input-group-addon" id="sizing-addon4" style="width:150px;">Nom</span>
							<input type="text" id="signupName" class="form-control" placeholder="Votre nom" aria-describedby="sizing-addon1">
						</div>
						{{else}}
						<div class="input-group input-group-lg" style="width:100%;margin-top:5px;">
							<span class="input-group-addon" id="sizing-addon4" style="width:150px;">Nom</span>
							<input type="text" id="signupName" class="form-control" placeholder="Nom de votre société" aria-describedby="sizing-addon1">
						</div>
						{{/unless}}
						<div class="input-group input-group-lg" style="width:100%;margin-top:5px;">
							<span class="input-group-addon" id="sizing-addon2" style="width:150px;">E-mail </span>
							<input type="email" id="signupEmail" class="form-control" placeholder="xxxxxxxx@xxxx.xxxx" aria-describedby="sizing-addon1">
						</div>
						<div class="input-group input-group-lg" style="width:100%;margin-top:5px;">
							<span class="input-group-addon" id="sizing-addon1" style="width:150px;">Mot de passe  </span>
							<input type="password" id="signupPassword" class="form-control" placeholder="*********" aria-describedby="sizing-addon1">
						</div>
						<div class="input-group input-group-lg" style="width:100%;margin-top:5px;">
							<span class="input-group-addon" id="sizing-addon1" style="width:150px;">Confirmation  </span>
							<input type="password" id="signupPasswordConfirm" class="form-control" placeholder="*********" aria-describedby="sizing-addon1">
						</div>
					</div>
					<div class="modal-footer">
						<div class="" style="text-align:center;">
							<h2>Choississez-votre type de compte de connection</h2>
							<img id="jobdaybtn" style="cursor:pointer" height="100px" src="/jobday.png" alt="">
							<h2>Ou</h2>
							<img id="googlebtn" style="cursor:pointer" width="100px" height="100px" src="/image/png/Google_Plus.png" alt="">
							<img id="facebookbtn"  scope="public_profile,email"  style="cursor:pointer" width="100px" height="100px" src="/image/png/facebook.png" alt="">
							<img id="linkedInbtn"  scope="public_profile,email"  style="cursor:pointer" width="100px" height="100px" src="/image/png/Linkedin.png" alt="">
						</div>
					</div>
					{{else}}
					<div class='modal-body'>
						<h3>Un email de confirmation vous a été envoyé</h3>
						<h4 style='text-align:center;'>Merci de cliquer sur le lien de confirmation qui apparaît dans l'email reçu afin de valider votre adresse électronique, et pour valider également votre premier badge.</h4>
					</div>
					{{/unless}}
				</form>
			</div>
		</div>
	</div>
</template>
