<template name='signupCustom'>
	<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header" style="background-color:#63c2c7;color:white;">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title " id="myModalLabel">S'INSCRIRE</h4>
				</div>
				<form id="new_prayer">
					{{#unless $.Session.equals 'mailSent' true}}
					<div class="modal-body">
						<div class="input-group input-group-lg" style="width:100%;margin-top:5px;">
							<span class="input-group-addon" id="sizing-addon3" style="width:150px;">Status</span>
							<select id='societyInput' class='form-control' aria-describedby='sizing-addon3'>
								<option value=false>Auto-entrepreneur</option>
								<option value=true>Societe</option>
							</select>
						</div>
						{{#if $.Session.equals 'society' 'false'}}
						<div class="input-group input-group-lg" style="width:100%;margin-top:5px;">
							<span class="input-group-addon" id="sizing-addon4" style="width:150px;">Prenom </span>
							<input type="text" id="signupFirstname" class="form-control" placeholder="Votre prenom" aria-describedby="sizing-addon1">
						</div>
						<div class="input-group input-group-lg" style="width:100%;margin-top:5px;">
							<span class="input-group-addon" id="sizing-addon4" style="width:150px;">Nom</span>
							<input type="text" id="signupName" class="form-control" placeholder="Votre nom" aria-describedby="sizing-addon1">
						</div>
						{{else}}
						<div class="input-group input-group-lg" style="width:100%;margin-top:5px;">
							<span class="input-group-addon" id="sizing-addon4" style="width:150px;">Nom</span>
							<input type="text" id="signupName" class="form-control" placeholder="Nom de votre societe" aria-describedby="sizing-addon1">
						</div>
						{{/if}}
						<div class="input-group input-group-lg" style="width:100%;margin-top:5px;">
							<span class="input-group-addon" id="sizing-addon2" style="width:150px;">E-mail </span>
							<input type="email" id="signupEmail" class="form-control" placeholder="xxxxxxxx@xxxx.xxxx" aria-describedby="sizing-addon1">
						</div>
						<div class="input-group input-group-lg" style="width:100%;margin-top:5px;">
							<span class="input-group-addon" id="sizing-addon1" style="width:150px;">Mot de passe  </span>
							<input type="password" id="signupPassword" class="form-control" placeholder="*********" aria-describedby="sizing-addon1">
						</div>
						<div class="input-group input-group-lg" style="width:100%;margin-top:5px;">
							<span class="input-group-addon" id="sizing-addon1" style="width:150px;">Confirmation  </span>
							<input type="password" id="signupPasswordConfirm" class="form-control" placeholder="*********" aria-describedby="sizing-addon1">
						</div>
					</div>
					<div class="modal-footer">
						<div class="" style="text-align:center;">
							<img id="jobdaybtn" style="cursor:pointer" height="100px" src="/jobday.png" alt="">
						</div>
					</div>
					{{else}}
					<div class='modal-body'>
						<h3>Un email de confirmation vous a ete envoye</h3>
						<h4 style='text-align:center;'>Merci de cliquer sur le lien de confirmation dans votre email pour confirmer votre adresse electronique</h4>
					</div>
					{{/unless}}
				</form>
			</div>
		</div>
	</div>
</template>
