<template name='stars'>
	<div class='stars-container' data-toggle='tooltip' title='{{mean}}/10, {{notes.length}} notes'>
		{{#times fullStars}}
		<i class='star full-star material-icons {{../size}} {{hover}}'>star</i>
		{{/times}}
		{{#times halfStars}}
		<i class='star half-star material-icons {{../size}} {{hover}}'>star_half</i>
		{{/times}}
		{{#times emptyStars}}
		<i class='star empty-star material-icons {{../size}} {{hover}}'>star_border</i>
		{{/times}}
		{{#if printMean}}{{mean}}{{/if}}
		{{#if printCount}}{{#if printMean}} - {{/if}}{{notes.length}} avis{{/if}}
	</div>
</template>
