<template name='subcategoriesModal'>
	{{#genericModal title='Choisir des sous-categories'}}
	<h4>Choisissez les sous-categories qui correspondent a vos competences</h4>
	<ul class='list-group'>
		{{#each subcategories}}
		<li class='list-group-item {{userSubcatClass index}}' data-which='{{index}}'>{{name}}</li>
		{{/each}}
	</ul>
	{{else}}
		<div class='cancel col-xs-4 col-xs-offset-1 orange button' data-dismiss='modal'>
			Annuler
		</div>
		<div class='confirm col-xs-4 col-xs-offset-2 blue button' data-dismiss='modal'>
			Enregistrer
		</div>
	{{/genericModal}}
</template>
