<template name='subcategoriesModal'>
	{{#genericModal title='Choisir des sous-categories'}}
	<h4>Choisissez les sous-categories qui correspondent a vos competences</h4>
	<ul class='list-group'>
		{{#each subcategories}}
		<li class='list-group-item {{userSubcatClass index}}' data-which='{{index}}'>{{name}}</li>
		{{/each}}
	</ul>
	{{else}}
		<div class='cancel col-xs-4 col-xs-offset-1 orange button' data-dismiss='modal'>
			Annuler
		</div>
		<div class='confirm col-xs-4 col-xs-offset-2 blue button' data-dismiss='modal'>
			Enregistrer
		</div>
		<div class='col-xs-12 visible-xs section'></div>
	{{/genericModal}}
</template>

<template name='showSubcategoriesModal'>
	{{#genericModal title='Sous-categories'}}
		<h4>Voir les sous-categories de competences pour {{category}}</h4>
		{{#if subcategories}}
			<ul>
				{{#each subcategories}}
					<li>{{this}}</li>
				{{/each}}
			</ul>
		{{else}}
			<small>Il n'y a aucune sous-categorie selectionnee pour cette comptetence</small>
		{{/if}}
	{{else}}
		<div class='cancel col-xs-4 col-xs-offset-4 orange button' data-dismiss='modal'>
			Fermer
		</div>
	{{/genericModal}}
</template>
