<template name='team'>
	<div class='panel-heading' style="text-align: center;">
		<h4 class='panel-title'>L'Equipe <img src="/jobday.png" width="20%"></h4>
		
	</div>
	<div  class=''>
		
		<div class='panel-body'>
		<div class='user-photo-container col-xs-12' style='text-align:center;'>
			
			<img style="height:150px;width:150px; border-radius: 50px;" src='/romy_eisemberg.jpg'>
		<div>
		Romy Eisemberg, directrice générale, responsable marketing.
		</div>
		</div>
		</div>
		<div class='panel-body'>
		<div class='user-photo-container col-xs-12' style='text-align:center;'>
			
			<img style="height:150px;width:150px; border-radius: 50px;" src='/roman_eisemberg.jpg'>
		<div>
		Roman Eisemberg, chef de projet, président de la société. Roman est à l’origine du projet. Après une formation de commerce, il a travaillé dans les médias, puis il a ouvert une première société d’événementiel. JobDay est sa seconde société
		</div>
		</div>
		</div>
		<div class='panel-body'>
		<div class='user-photo-container col-xs-12' style='text-align:center;'>
			
			<img style="height:150px;width:150px; border-radius: 50px;" src='/jonas_merrifield1.jpg'>
		
		<div>
		Jonas-Junior Merrifield, CTO. Jonas est analyste et développeur. Il est en charge du cahier des charges, et du recrutement des techniciens spécialisés.
		</div>
		
		</div>
		</div>
		<div class='panel-body'>
		<div class='user-photo-container col-xs-12' style='text-align:center;'>
			
			<img style="height:150px;width:150px; border-radius: 50px;" src='/Mario_Lechat.jpg'>
		
		<div>
		Mario Lechat, associé investisseur. Mario est président d'un groupe médias à l'Ile de la Réunion.
		</div>
		
		</div>
		</div>
	</div>
</template>

